---
---
<section class="flex flex-col items-center justify-center font-mona-sans text-zinc-900">
    <div class="flex flex-col w-full p-4 pb-8 text-stone-300 bg-[#191724] sm:bg-transparent sm:text-zinc-900 sm:flex-row lg:justify-between lg:items-center  lg:max-w-4xl">
        <div class="">
            <h1 class="font-black text-5xl max-w-md leading-none [font-stretch:ultra-expanded] sm:text-7xl">¡Hola, soy <strong class="text-[#9ccfd8] sm:text-[#575279]">Braian</strong>!</h1>
            <h2 class="font-bold text-2xl pt-3 sm:text-5xl sm:pt-4">Desarrollador Frontend</h2>
        </div>
        <div class="hidden sm:flex">
            <img src="https://i.imgur.com/tWpfxWl.png" alt="" class="rounded-xl object-cover">
        </div>
    </div>
    <div class="w-full flex border-t-[1px] border-b-[1px] py-4 border-gray-600 lg:justify-between lg:items-center  lg:max-w-4xl">
        <div class="flex items-center justify-evenly w-full">
            <a href="https://github.com/linuxmobile" class="font-semibold text-xl"><i class="fa-brands fa-github pr-1"></i>Github</a>
            <a href="https://www.linkedin.com/in/braiandiez/" class="font-semibold text-xl"><i class="fa-brands fa-linkedin pr-1"></i>Linkedin</a>
            <a href="https://twitter.com/linuxmobileok" class="font-semibold text-xl"><i class="fa-brands fa-twitter pr-1"></i>Twitter</a>
        </div>
    </div>
</section>