---
---
<section class="flex flex-col items-center justify-center font-mona-sans text-zinc-900">
    <div class="flex flex-col w-full p-4 pb-8 text-stone-300 bg-[#191724] sm:bg-transparent sm:text-zinc-900">
        <h1 class="font-black text-5xl max-w-md leading-none [font-stretch:ultra-expanded] sm:text-7xl">¡Hola, soy <strong class="text-[#9ccfd8] sm:text-[#575279]">Braian</strong>!</h1>
        <h2 class="font-bold text-2xl pt-3 sm:text-5xl sm:pt-4">Desarrollador Frontend</h2>
    </div>
    <div class="flex flex-col w-full justify-center items-start pt-6 p-4">
        <h2 class="font-bold text-3xl sm:text-4xl">Perfil:</h2>
        <div class=""></div>
        <p class="text-left font-medium text-md max-w-xs pt-3 sm:max-w-2xl sm:text-xl">Soy un desarrollador frontend apasionado y comprometido con mi trabajo. Me encanta aprender y estoy dispuesto a hacer lo que sea necesario para mejorar mis habilidades y conocimientos. Tengo una sólida formación en el desarrollo frontend y estoy listo para aportar mi conocimiento y habilidades en cualquier proyecto. Estoy ansioso por tener la oportunidad de demostrar mi valía en el mundo laboral.</p>
        <h3 class="pt-6 font-bold sm:text-lg">Fecha</h3>
        <h4 class="" id="date"></h4>
    </div>
</section>
<script type="module">
    const date = new Date();
    const day = date.getDate();
    const month = date.toLocaleString('es-ES', { month: 'long' });
    const year = date.getFullYear();

    document.getElementById('date').innerHTML = `${day} ${month} ${year}`;
</script>