---

---
<section class="">
    <div class="flex flex-col w-full justify-center items-start pt-14 p-4">
        <h2 class="font-extrabold text-3xl sm:text-4xl uppercase">Perfil:</h2>
        <div class=""></div>
        <p class="text-left font-medium text-md max-w-xs pt-3 sm:max-w-2xl sm:text-xl">Soy un desarrollador frontend apasionado y comprometido con mi trabajo. Me encanta aprender y estoy dispuesto a hacer lo que sea necesario para mejorar mis habilidades y conocimientos. Tengo una sólida formación en el desarrollo frontend y estoy listo para aportar mi conocimiento y habilidades en cualquier proyecto. Estoy ansioso por tener la oportunidad de demostrar mi valía en el mundo laboral.</p>
        <div class="flex flex-col w-full items-end justify-center sm:items-start">
            <h3 class="pt-6 font-bold sm:text-lg">Fecha</h3>
            <h4 class="" id="date"></h4>
        </div>
    </div>
</section>
<script type="module">
    const date = new Date();
    const day = date.getDate();
    const month = date.toLocaleString('es-ES', { month: 'long' });
    const year = date.getFullYear();

    document.getElementById('date').innerHTML = `${day} ${month} ${year}`;
</script>