---

---
<section class="flex flex-col items-start justify-center w-full pb-16 lg:justify-center lg:items-center">
    <h2 class="font-black text-3xl p-4 uppercase">Proyectos:</h2>
    <div class="px-4 flex flex-col gap-6">
        <div class="flex">
            <img src="https://i.imgur.com/roQW9KZ.png" alt="" class="w-[200px] h-[130px] object-cover rounded-md min-w-[200px]">
            <div class="pl-2">
                <h3 class="font-bold text-xl">Pokelinux</h3>
                <p class="text-sm">Una pokedex, realizada como ejercicio para NUCBA con el fin de aprender Javascript. Utilizando la api de <a href="https://pokeapi.co/docs/v2" class="" target="_blank">PokeApi</a>.</p>
                <div class="flex pt-2 gap-2 flex-wrap">
                    <p class="border-[1px] border-gray-600 rounded-md px-1 text-sm">Astro</p>
                    <p class="border-[1px] border-gray-600 rounded-md px-1 text-sm">Javascript</p>
                    <p class="border-[1px] border-gray-600 rounded-md px-1 text-sm">TailwindCSS</p>
                </div>
            </div>
        </div>
        <div class="flex">
            <img src="https://i.imgur.com/Qcm6jSb.png" alt="" class="w-[200px] h-[130px] object-cover rounded-md min-w-[200px]">
            <div class="pl-2">
                <h3 class="font-bold text-xl">PrrR! Coffee Store</h3>
                <p class="text-sm">Una landing page. Entrega del integrador de Diseño Web para NUCBA.</p>
                <div class="flex pt-2 gap-2 flex-wrap">
                    <p class="border-[1px] border-gray-600 rounded-md px-1 text-sm">HTML</p>
                    <p class="border-[1px] border-gray-600 rounded-md px-1 text-sm">CSS</p>
                </div>
            </div>
        </div>
        <div class="flex">
            <img src="https://i.imgur.com/68wNB0c.png" alt="" class="w-[200px] h-[130px] object-cover rounded-md min-w-[200px]">
            <div class="pl-2">
                <h3 class="font-bold text-xl">Linuland</h3>
                <p class="text-sm">Una landing page con lo aprendido de "diseño web" en NUCBA.</p>
                <div class="flex pt-2 gap-2 flex-wrap">
                    <p class="border-[1px] border-gray-600 rounded-md px-1 text-sm">HTML</p>
                    <p class="border-[1px] border-gray-600 rounded-md px-1 text-sm">CSS</p>
                    <p class="border-[1px] border-gray-600 rounded-md px-1 text-sm">Javascript</p>
                </div>
            </div>
        </div>
    </div>
</section>